.contentContainer {
    background-color: #f9f9fa;
    height: 100vh;
    width: 100%;
    padding: 20px 0;
}

.menuBar {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    height: 40vh;
}

.postsSection {
    grid-column-start: 3;
    grid-column-end: 10;
    position: relative;
}

.buddyBar {
    grid-column-start: 10;
    grid-column-end: 13;
}